<div class="admin-container-detail">
<h1><%%= <%= model_name %>.human_name %></h1>

<div class="admin-control">
<div class="item-edit"><%%= link_to translate(:edit, :default => 'Edit', :scope => [:railties, :scaffold]), edit_<%= singular_name %>_path(@<%= singular_name %>) %></div>
<div class="back"><%%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= plural_name %>_path %></div>
</div>

<div class="admin-main">
<table class="admin-table-show">
<% for attribute in show_attributes -%>
  <tr>
    <td class="label-cell"><%%= <%= attribute.display_name %> %></td>
    <td class="content-cell"><%%= <%= attribute.formatted_value("@#{singular_name}") %> %></td>
  </tr>
<% end -%>
</table>
</div>

</div>
