<div class="admin-container-detail">
<h1><%%= <%= model_name %>.human_name %></h1>

<div class="admin-control">
<div class="item-edit"><%%= link_to t(:edit, :default => 'Edit', :scope => [:railties, :scaffold]), edit_<%= singular_route %>(@<%= singular_name %>) %></div>
<div class="back"><%%= link_to t(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= plural_route %> %></div>
</div>

<div class="admin-main">
<table class="admin-table-show">
<% show_attributes.each do |attribute| -%>
  <tr>
    <td class="label-cell"><%%= <%= attribute.display_name %> %></td>
    <td class="content-cell"><%%= <%= attribute.formatted_value("@#{singular_name}") %> %></td>
  </tr>
<% end -%>
</table>
</div>

</div>
