<div class="admin-container-form">
<h1><%%= t(:editing, :default => "Editing {{model}}", :model => <%= model_name %>.human_name, :scope => [:railties, :scaffold]) %></h1>

<div class="admin-control">
  <div class="item-show"><%%= link_to t(:show, :default => 'Show', :scope => [:railties, :scaffold]), <% if nested_routes? %><%= singular_route %>(@<%= singular_name %>)<% else %>@<%= singular_name %><% end %> %></div>
  <div class="back"><%%= link_to t(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= plural_route %> %></div>
</div>

<%% cute_admin_form_for(@<%= singular_name %><% if nested_routes? %>, :url => <%= singular_route %>(@<%= singular_name %>)<% end %>) do |f| %>
  <%%= f.error_messages %>
  <%%= render :partial => "form", :locals => {:f => f} %>
  <div class="admin-submit">
    <%%= f.submit t(:update, :default => "Update", :scope => [:railties, :scaffold]) %>
  </div>
<%% end %>
</div>